body{
    background-color: black;
}

.header-logo-img{
   height: 25px;
    
}

.middle-sec-heading{
color: white;
}

.mid-sec-profile-image{
    width: 200px;
    height: 200px;
   
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.name1{
    color: white;
    text-align: center;
    font-family: Verdana;
}

#middle-sec-profiles{
    display: flex;
}

